.home-section {
  min-height: 85vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

    .info-details-container {
      width: 50%;
      
      a{
        display: inline-block;
        width: 20%;
        .btn{
          width: 100%;

          &:hover{
            cursor: pointer;
          }
        }
      }
      .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: #fff;
          font-family: "Poppins", sans-serif;
        }
      }
      .description-container {
        p {
          width: 90%;
          font-size: 0.95rem;
          font-weight: 400;
          color: #fff;
          font-family: "Poppins", sans-serif;
        }
      }
    }

    .info-image-container {
      width: 50%;

      .info-image-holder{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 20rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  #diff {
    color: #1db954;
  }
}

@media only screen and (max-width: 600px) {
  .home-section {

    .info-container {
      flex-direction: column;
      .info-details-container {
        width: 100%;
        .title-container {
          h1 {
            font-size: 2rem;
          }
        }
        .description-container {
          p {
            width: 100%;
          }
        }
      }
      .info-image-container {
        width: 100%;
        .info-image-holder {
          img {
            width: 15rem;
          }
        }
      }
    }
  }
} 