.projects-container{
    min-height: 60vh;
    height: auto;


    .project-cards-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        padding: 1rem 0;
    }
    #diff{
        color: #1db954;
    }
}
@media only screen and (max-width: 600px) {
    .projects-container{
        .project-cards-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
} 