.skill-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    118.13deg,
    #26282a -9.55%,
    rgba(45, 48, 54, 0) 106.05%
  );

  .skill-card-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    background: none;
    text-transform: capitalize;
    text-align: left;
  }
  .skill-card-desc {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    background: none;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 600px) {
  .skill-card-container {
    width: 55%;
    margin: 0.5rem 0;
  }
} 