nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 1rem 0;
  
  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 4rem;
        height:4rem;
        border-radius: 50%;
    }
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    

    .nav-link {
    
      text-decoration: none;
      list-style-type: none;
      cursor: pointer;
      transition: 0.2s ease;
      text-transform: capitalize;
      font-family: "DM Sans", sans-serif;
      letter-spacing: 0.5px;
      font-size: 0.9rem;

      i {
        font-size: 1.5rem;
        &:hover {
          color: #1db954;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  nav {
    .nav-links {
      width: 40%;
    }
  }
} 
