.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;

        p{

            font-size: 0.9rem;
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }
    }

    #heart{
        font-size: 1rem;
        color: rgb(197, 23, 23);
    }
}