*{
    margin: 0;padding: 0;box-sizing: border-box;
    background-color: #161416;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.App{
    padding: 0 7rem;
    scrollbar-color: #1db954;
}
@media only screen and (max-width: 600px) {
    .App{
        padding: 0 1rem;
    }
} 